<!--
- File name: email_change.njk
- Program description:
- Email notif for email change
- 
- <Code details in specific>
- 
- Module Exports:
- - email_change.njk: Uses the base.njk then provide
- a template to be used by the mailer module to send
- notification to a user that their email was changed
-->


{% extends "./base.njk" %}

{% block content %}
    <div class="l--body">
        <div class="l--title">
            <img class="l--title--logo" src='cid:app-logo'/>
        </div>
    
        <h1>{{appData.title}}</h1>

        <h2>
            Hi, {{userObject.firstName}} {{userObject.lastName}}.
        </h2>

        <h3>
            Your email has changed to {{userObject.email.value}}.
        </h3>

        <h3>
            <p>If you haven't changed your email, email the administrator here:</p>
            <p><a href="mailto:{{from}}">{{from}}</a></p>
        </h3>
    </div>
{% endblock %}
                 