{% extends "./base.njk" %}

{% block content %}
    <div class="l--body">
        <div class="l--title">
            <img class="l--title--logo" src='cid:app-logo'/>
        </div>
    
        <h1>{{appData.title}}</h1>

        <h2>
            Hello, {{userObject.firstName}} {{userObject.lastName}}.
        </h2>

        <h3>
            Enter the One-Time Password (OTP) below to verify your email address.
        </h3>

        <h3 style="margin: 3%">
            {{otp}}
        </h3>

        <h3>
            This OTP will expire in {{otpExpiry}}. Please do not share your OTP Code with anyone.
        </h3>

        <h3>
            If you haven't logged in, email the administrator here:
            <p><a href="mailto:{{from}}">{{from}}</a></p>
        </h3>

        <hr></hr>

        <p>Learn more about The NPC</p>
        <a  href="https://www.privacy.gov.ph">Website</a>
        <a  href="https://web.facebook.com/privacy.gov.ph">Facebook</a>
        <br></br>
        <a  href="https://www.instagram.com/privacy.gov.ph">Instagram</a>
        <a  href="https://twitter.com/privacyph">Twitter</a>
        <br></br>
        <a  href="https://www.privacy.gov.ph/npc-privacy-policy">Privacy Notice</a>
        <p>This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed.  If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.  Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system.</p>
    </div>
{% endblock %}
                 